[worldserver]

###################################################################################################
#  ECLIPSE SETTINGS
#
#   Eclipse.Enabled
#       Description: Enable or disable Eclipse LuaEngine
#       Default:    true  - (enabled)
#                   false - (disabled)
#
#   Eclipse.CompatibilityMode
#       Description: Toggles Eclipse between compatibility mode (single-threaded) or multistate mode. 
#                    Compatibility mode limits the core to a single map update thread.
#       Default:     true  - (enabled)
#                    false - (disabled)
#
#   Eclipse.ScriptPath
#       Description: Sets the location of the script folder to load scripts from
#                    The path can be relative or absolute.
#       Default:    "lua_scripts"
#
#   Eclipse.RequirePaths
#       Description: Sets the location of additional require paths.
#                    These paths are absolute and follows the standard Lua require path patterns.
#                    Below are a set of "standard" paths used by most package managers.
#                    "/usr/share/%s/?.lua;/usr/local/share/lua/%s/?.lua;/usr/local/share/lua/%s/?/init.lua;/usr/share/lua/%s/?.lua;/usr/share/lua/%s/?/init.lua;"
#       Default:     ""
#
#   Eclipse.RequireCPaths
#       Description: Sets the location of additional require C paths.
#                    These paths are absolute and follows the standard Lua require path patterns.
#                    Below are a set of "standard" paths used by most package managers.
#                    "/usr/local/lib/lua/%s/?.so;/usr/lib/x86_64-linux-gnu/lua/%s/?.so;/usr/local/lib/lua/%s/loadall.so;"
#       Default:     ""

Eclipse.Enabled = true
Eclipse.Compatibility = false

Eclipse.ScriptPath = "lua_scripts"
Eclipse.RequirePaths = ""
Eclipse.RequireCPaths = ""